<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.PaymentMapper">
    <select id="getPaymentById" parameterType="int" resultType="dto.PaymentDTO">
        SELECT
            payment_id,
            uuid,
            rent_reserv_id,
            sale_id,
            cart_id,
            total_price,
            payment_method,
            status,
            imp_uid,
            card_num,
            card_name,
            create_at
        FROM payments
        WHERE payment_id = #{payment_id}
    </select>

    <select id="getPaymentByImpUid" parameterType="string" resultType="dto.PaymentDTO">
        SELECT
            payment_id,
            uuid,
            rent_reserv_id,
            sale_id,
            cart_id,
            total_price,
            payment_method,
            status,
            imp_uid,
            card_num,
            card_name,
            create_at
        FROM payments
        WHERE imp_uid = #{imp_uid}
    </select>

    <insert id="insert" parameterType="dto.PaymentDTO" useGeneratedKeys="true" keyProperty="payment_id">
        INSERT INTO payments (
        payment_id,
        uuid,
        rent_reserv_id,
        sale_id,
        cart_id,
        total_price,
        payment_method,
        status,
        imp_uid,
        card_num,
        card_name,
        create_at
        ) VALUES (
        payment_seq.nextval,
        #{uuid},
        #{rent_reserv_id},
        #{sale_id},
        #{cart_id},
        #{total_price,jdbcType=NUMERIC},
        #{payment_method,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{imp_uid,jdbcType=VARCHAR},
        #{card_num,jdbcType=VARCHAR},
        #{card_name,jdbcType=VARCHAR},
        #{create_at,jdbcType=TIMESTAMP}
        )
        <selectKey keyProperty="payment_id" resultType="int" order="AFTER">
            SELECT payment_seq.currval FROM dual
        </selectKey>
    </insert>

    <update id="updatePaymentStatusToRefunded" parameterType="string">
        UPDATE payments 
        SET status = '환불완료'
        WHERE imp_uid = #{impUid}
    </update>

    <select id="getPaymentsByUuid" parameterType="int" resultType="dto.PaymentDTO">
        SELECT
            payment_id,
            uuid,
            rent_reserv_id,
            sale_id,
            cart_id,
            total_price,
            payment_method,
            status,
            imp_uid,
            card_num,
            card_name,
            create_at
        FROM payments
        WHERE uuid = #{uuid}
        ORDER BY create_at DESC
    </select>
</mapper>



