<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.RentItemMapper">
    <select id="selectRentItem" parameterType="map"  resultType="dto.RentItemDTO">
        select * from rent_item where category_id = #{category_id} and rentalshop_id = #{rental}
    </select>

    <select id="getList"  parameterType="map" resultType="dto.RentItemDTO" >
        select * from rent_item where category_id = #{category_id} and rentalshop_id = #{rental}
    </select>

    <insert id="insertRentItem" parameterType="dto.RentItemDTO">
        insert into rent_item values(rent_item.nextval, #{category_id}, #{rentalshop_id}, #{item_name}, #{item_detail}, #{total_quantity}, #{item_img}, sysdate)
    </insert>

    <delete id="deleteRentItem" parameterType="int">
        delete from rent_item where item_id = #{item_id}
    </delete>
</mapper>